.signup-form-div {
    display: flex;
    justify-content: center;
}

.signup-content {
    border: 3px solid black;
    border-radius: 100px;
    padding: 80px;
}

.signup-h3{
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

.signup-label {
    margin-right: 15px;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}

.signup-username-input, .signup-email-input, .signup-password-input, .signup-confirm-password-input, .signup-profile-pic-input {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.signup-input {
    border-radius: 10px;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.signup-btn-div {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.signup-btn {
    border-radius: 25px;
    padding: 11px 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 15px;
}

.signup-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.errors-container {
    padding-right: 15px;
}

.errors {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
