.episode-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.episode-page-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.episode-page-user-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 80px; */
}

.episode-page-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 140px; */
  margin-right: 50px;
}

.episode-page-image-div {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow-y: hidden;
  border-radius: 40px;
}

.episode-page-image {
  width: 100%;
  height: auto;
}

.episode-page-title {
  font-size: 35px;
  font-family: "Righteous", cursive;
  margin-bottom: 10px;
}

.episode-page-description {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  width: 450px;
  margin-top: 10px;
  text-align: center;
}

.episode-page-audio {
  margin-top: 10px;
  margin-bottom: 60px;
  border: 2px solid black;
  border-radius: 28px;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: rgb(255, 255, 255);
}

.episode-page-podcast-name {
  font-size: 23px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 5px;
  font-weight: bold;
}

.episode-page-user {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}

.episode-page-total-plays {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}

.episode-page-date {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
}

.episode-page-podcast-btn {
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  background-color: rgb(233, 233, 233);
  font-weight: 500;
  padding: 5px 15px;
}

.episode-page-podcast-link {
  margin-top: 40px;
}

.episode-page-profile-pic {
  margin-top: 15px;
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 700px;
  height: 100px;
  width: 100px;
  background-color: rgb(50, 50, 50);
  border: 5px solid yellow;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.episode-page-profile-pic img {
  width: auto;
  height: 100px;
}

/* COMMENTS */

.episode-page-comment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  padding-top: 40px;
  padding-bottom: 80px;
  width: 100%;
  height: 100%;
  background-color: rgb(209, 234, 247);
}

.episode-page-comment-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.episode-page-comment textarea {
  resize: none;
  width: 300px;
  height: 80px;
  border-radius: 10px;
  padding: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
}

.episode-page-comment form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.episode-page-comment-btn {
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  background-color: rgb(233, 233, 233);
  font-weight: 500;
  padding: 5px 15px;
  margin-bottom: 20px;
}

.episode-page-comment-list-each {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  min-width: 250px;
  height: 180px;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  margin: 0 15px 0 15px;
}

.episode-page-comment-title {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
}

.episode-page-comment-list-post-div {
  display: flex;
  align-items: center;
  height: 100px;
}

.episode-page-comment-list-post {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  width: 250px;
  word-wrap: break-word;
  text-align: center;
}

.episode-page-comment-list-user {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
}

.episode-page-comment-list-scroll {
  width: 90%;
  overflow-x: scroll;
}

.episode-page-comment-list {
  display: flex;
}

.episode-page-comment-delete {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  border-radius: 20px;
  width: 150px;
  margin-top: 5px;
  text-align: center;
}

@media only screen and (max-width: 930px) {
  .episode-page-info {
    flex-direction: column;
  }

  .episode-page-image-container {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .episode-page-comment-container {
    margin-top: 40px;
  }
}
