.profile-page-container {
    display: flex;
    justify-content: space-around;
}

.profile-page-podcasts-container {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
    min-width: 600px;
    height: 700px;
}

.profile-page-episodes-container {
    margin-right: 100px;
    margin-bottom: 40px;
    text-align: center;
    overflow-y: scroll;
    height: 700px;
}

.profile-page-btn {
    background-color: rgb(233, 233, 233);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 15px;
    margin: 10px 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

.profile-page-edit-btns {
    display: flex;
    flex-direction: row;
}

.profile-page-podcast-title {
    font-size: 35px;
    font-family: 'Righteous', cursive;
}

.profile-page-podcasts{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.profile-page-podcast-plays {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-bottom: 15px;
}

.profile-page-podcast-user {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 35px;
}

.profile-page-podcast-image{
    width: 400px;
    height: auto;
    margin: 20px 0px;
}

.profile-page-episode-title {
    font-size: 35px;
    font-family: 'Righteous', cursive;
}

.profile-page-episodes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.profile-page-episode-plays {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-bottom: 15px;
}

.profile-page-episode-user {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 35px;
}

.profile-page-episode-image{
    width: 400px;
    height: auto;
    margin: 20px 0px;
}

.profile-page-episode-edit-btns {
    display: flex;
    justify-content: center;
}

.profile-page-create-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.profile-page-create-btn {
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color: rgb(233, 233, 233);
    font-weight: 500;
    padding: 5px 15px;
    margin: 20px 10px;
}

.profile-page-pic-container {
    display: flex;
    justify-content: center;
}

.profile-page-pic-div {
    margin-top: 45px;
    overflow-x: hidden;
    overflow-y: hidden;
    border-radius: 700px;
    height: 100px;
    width: 100px;
    background-color: rgb(50, 50, 50);
    border: 5px solid yellow;
    display: flex;
    justify-content: center;
}

.profile-page-pic{
    width: auto;
    height: 100px;
}


/* FOLLOWING */


.profile-page-followed-podcast-title {
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 30px;
    margin-top: 20px;
}

.profile-page-followed-podcast-list-link {
    text-decoration: none;
    color: black;
}

.profile-page-followed-podcast-list {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    margin-top: 40px;
    margin-bottom: 70px;
}

.profile-page-followed-podcast-list-each{
    margin: 0px 20px;
}

.profile-page-followed-podcast-list-name {
    font-family: 'Righteous', cursive;
    font-size: 20px;
    margin-bottom: 10px;
    height: 28px;
    width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.profile-page-followed-podcast-list-image {
    width: 250px;
    height: auto;
    border-radius: 20px;
}

.profile-page-followed-podcast-list-plays {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-align: end;
    font-weight: bold;
}
