.profile-btn {
    color: black;
    background-color: rgb(235, 252, 249);
    font-size: 15px;
    padding: 10px 30px;
    border-radius: 20px;
}

.fa-user {
    font-size: 15px;
    margin-right: 5px;
}

.profile-dropdown {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

.profile-dropdown li {
    display: flex;
    justify-content: center;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;

}

.dropdown-user {
    margin-top: 3px;
}

.dropdown-logout {
    padding: 10px;
}

.logout-btn {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: rgb(235, 252, 249);
}

.my-page-btn {
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: rgb(235, 252, 249);
}

.profile-menu {
    display: flex;
    flex-direction: column;
    margin: 10px 25px 10px 182px;
    /* width: 175px; */
}

.navbar{
display: flex;
justify-content: space-between;
align-items: center;
background-color: rgb(244, 255, 44);
}

.nav-home {
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-family: 'Righteous', cursive;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-logo {
    width: 150px;
    height: auto;
    margin: 10px 123px 10px 25px;
}

.logo-btn {
    border: none;
    background-color: rgb(244, 255, 44);
}

#demo-btn, #login-btn, #signup-btn {
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: rgb(235, 252, 249);
    font-weight: 500;
    padding: 5px 15px;
    margin: 0px 5px;
}

#signup-btn {
    margin-right: 25px
}
